/* =-/=/-=-/=/-=-/=-/=/-=/-=-/=-/-=/=-//=-=-/*/
/* =-/=/-= HEADER =/-=/-=-/=-/-=/=-//=-=-=-//*/
/* border: rgb(15, 224, 119) solid; =/-=/-//=*/
/* =-/=/-=-/=/-=-/=-/=/-=/-=-/=-/-=/=-//=-=-/*/

body > header {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  background: rgb(247 174 80);
  background-image: url('../images/textures/arabesque.png');
  padding: auto;
}

.headshot {
  display: flex;
  justify-content: center;
  margin: auto;
  width: auto;
  height: auto;
}

div.profile-name {
  display: flex;
  color: #FFFF;
  justify-content: center;
  margin: auto;
  width: auto;
}

div.profile-name > h2 {
  margin-top: 0;
}
strong {
  color: rgb(251, 255, 235);
}


/* Desktop */

@media only screen and (min-width: 1024px) {
  body > header {
    position: fixed;
    margin-top: 150px;
    margin-left: 2em;
    width: 40%;
  }
}

@media screen and (max-width: 650px) {
  .headshot > img{
    margin-top: 35px;
    transform: scale(0.8);
    transition: 0.3s;
  }
}