/* NAV BAR */
 
nav {
  transition: 0.1s;
  display: flex;
  color: #FFFF;
  padding-right: 1.5em;
  padding-left: 1.5em;
  justify-content: space-between;
  height: 0;
  width: 100%;
  margin-top: 0px;
  z-index: 1;
}


span.tweeter-logo {
  transition: 0.1s;

  font-family: 'Bungee';
  font-size: 1.5em;
  padding-top: 25px;
  padding-bottom: 5px;
}

div.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  width: auto;
}

.fa-angle-double-down {
  margin-bottom: 10px;
  color: red;
  font-size: 1.3em;
  padding: 7px;

  position: relative;
  cursor: pointer;
	transform: scale(1);
	transition: transform 0.1s;
  top: 0px;
	z-index: 10;
}
.fa-angle-double-down:hover {
  transform: scale(1.5);
  color: rgb(255, 98, 98);
  transition: 0.3s;
}



.second-toggle {
  position: fixed;
  top: 90vh;
  left: 90vw;
  background: red;
  color: #FFFF;


  padding: 9px 14px;
  border-radius: 20;
  border-radius: 35px;
}
.second-toggle:hover {
  transform: scale(1.5);
  color: #FFFF;
  background: #4056A1;
  transition: 0.3s;
}


.toggleColor {
  color: slategray;
  background: transparent;
}

/* Desktop */

@media only screen and (min-width: 1024px) {
  nav {
    align-items: flex-end;
    height: 120px;
    background: #4056A1;
    position: fixed;  

  }
  .second-toggle {
    display: none;
  }
}

/* remove logo  */
@media only screen and (max-width: 650px) {
  span.tweeter-logo {
    transition: 0.1s;
    font-size: 0rem;
  }
}